hr {
  width: 80%;
  border-color: #aaa;
}
form label {
  margin-bottom: 0.25rem;
  display: block;
  font-weight: bold;
}
form input {
  width: 100%;
  font-size: 1rem;
  border-radius: 0.25rem;
  border: solid 1px rgba(255, 255, 255, 0.25);
  padding: 0.5rem 1rem;
  transition: border 0.1s ease-in-out;
  background-color: black;
  color: white;
}
.issue-content > span > span {
  font-size: 0.75rem;
  font-weight: 600;
  border-radius: 999px;
  padding: 0.1rem 0.3rem;
  border: solid 1px;
  text-align: center;
  white-space: nowrap;
}
.status-select {
  background: black;
  color: var(--yellow);
  border: solid 1px var(--yellow);
  font-size: 1rem;
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-weight: bold;
  cursor: pointer;
}

.add-issue form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  max-width: 65ch;
}
.add-issue form input,
.add-issue form textarea {
  width: 100%;
  padding: 0.5rem;
  color: white;
  border: solid 1px #aaa;
  background-color: var(--black);
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-family: proxima-nova, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
}
.add-issue form textarea {
  height: 10rem;
}
.add-issue form button {
  width: max-content;
  align-self: flex-end;
  font-size: 1rem;
}

.issue-details header {
  border-bottom: solid 1px #aaa;
  padding-bottom: 1rem;
}
.issue-details h2 span {
  color: #aaa;
}
.issue-details header div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #aaa;
  font-size: 0.9rem;
}
.issue-details .created-by {
  font-weight: bold;
}
.issue-details .open,
.issue-details .closed {
  color: white;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: max-content;
  padding: 0.25rem 0.5rem;
  border-radius: 999px;
  font-size: 1rem;
}
.issue-details .open {
  background: green;
}
.issue-details .closed {
  background: red;
}
.issue-options {
  border-bottom: solid 1px #aaa;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.issue-options:last-child {
  border-bottom: none;
}
.issue-options span {
  font-size: 0.9rem;
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}
.issue-details aside img {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 999px;
}
.issue-options > div > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.issue-details aside > div {
  position: relative;
}
.issue-details aside svg {
  cursor: pointer;
  transition: transform 0.25s ease-in-out;
}
.issue-details aside svg:hover {
  transform: rotate(30deg);
}
.issue-details aside .status-select {
  font-size: 0.8rem;
}
.label-dot {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 999px;
}
.picker-menu {
  z-index: 10;
  position: absolute;
  top: 2.5rem;
  right: 1.5rem;
  width: 12rem;
  background-color: rgba(0, 0, 0, 0.8);
  border: solid 1px rgba(255, 255, 255, 0.2);
  border-radius: 0.25rem;
  overflow: hidden;
}
.issue-options .picker-menu > div {
  display: flex;
  align-items: center;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}
.issue-options .picker-menu.labels > div {
  align-items: baseline;
}

.issue-options .picker-menu > div.selected {
  background-color: #444;
}

.issue-options .picker-menu > div:hover {
  background-color: #333;
}

.comment {
  margin: 1rem 0;
  display: flex;
  gap: 1rem;
}
.comment > img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 999px;
}
.comment > div {
  flex: 1;
  border: solid 1px #aaa;
  border-radius: 0.25rem;
  overflow: hidden;
}
.comment-header {
  padding: 0.5rem;
  border-bottom: solid 1px #aaa;
  background-color: #111;
  font-size: 0.9rem;
  color: #aaa;
}
.comment-header > span:first-child {
  font-weight: bold;
  color: white;
}
.comment-body {
  padding: 0.75rem;
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.pagination button {
  width: max-content;
}
.loader {
  animation: spin 1s steps(8) infinite;
  height: 1rem;
}
.fetching-indicator {
  position: fixed;
  top: 0;
  right: 0;
  margin: 1rem;
  z-index: 10;
  pointer-events: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
